# stream torrent file
alias mpv-stream='peerflix --mpv'
# cputemp
alias cputemp='sensors -u | grep temp1_input | cut -d" " -f4 | cut -d. -f1 | tail -n 1'
# mpv alias
alias mpv-cam='mpv tv:// --tv=width=320:height=240 --no-border --ontop --really-quiet'
alias mpv-mirror='mpv tv:// --vf=mirror'
alias mpv-mandelbrot='mpv avdevice://lavfi:mandelbrot'

# login to root using users env
alias sudosu='sudo -E zsh'

alias cd..='cd ..'
alias ..='cd ..'
alias ll='ls -lh'
alias la='ls -A'
alias l='ls -CF'

alias g='grep'
alias f='find'

# directory stacks
alias o='popd'
alias p='pushd'

# I'll learn emacs keys later
alias info='info --vi-keys'

alias gvim='gvim --remote-silent'

alias m='make'
alias mc='make clean'
alias ..m='cd .. ; make ; cd -'
alias ..mc='cd .. ; make clean ; cd -'

alias c='cd'
alias conflicts="git ls-files --unmerged | cut -f2 | uniq"
alias :q="exit"
alias mv='mv -i'

#alias df=cdf
alias mount="mount | column -t"

# ZSH aliases
#alias -g ...='../..'
#alias -g ....='../../..'
#alias -g .....='../../../..'
alias -g CA="2>&1 | cat -A"
alias -g C='| wc -l'
alias -g D="DISPLAY=:0.0"
alias -g DN=/dev/null
alias -g ED="export DISPLAY=:0.0"
alias -g EG='|& egrep'
alias -g EH='|& head'
alias -g EL='|& less'
alias -g ELS='|& less -S'
alias -g ETL='|& tail -20'
alias -g ET='|& tail'
alias -g F=' | fmt -'
alias -g G='| egrep'
alias -g H='| head'
alias -g HL='|& head -20'
alias -g Sk="*~(*.bz2|*.gz|*.tgz|*.zip|*.z)"
alias -g LL="2>&1 | less"
alias -g L="| less"
alias -g LS='| less -S'
alias -g MM='| most'
alias -g M='| more'
alias -g NE="2> /dev/null"
alias -g NS='| sort -n'
alias -g NUL="> /dev/null 2>&1"
alias -g R=' > /c/aaa/tee.txt '
alias -g RNS='| sort -nr'
alias -g S='| sort'
alias -g TL='| tail -20'
alias -g T='| tail'
alias -g US='| sort -u'
alias -g VM=/var/log/messages
alias -g X0G='| xargs -0 egrep'
alias -g X0='| xargs -0'
alias -g XG='| xargs egrep'
alias -g X='| xargs'

#additional functions
man() {
    env LESS_TERMCAP_mb=$'\E[01;31m' \
    LESS_TERMCAP_md=$'\E[01;38;5;74m' \
    LESS_TERMCAP_me=$'\E[0m' \
    LESS_TERMCAP_se=$'\E[0m' \
    LESS_TERMCAP_so=$'\E[38;5;246m' \
    LESS_TERMCAP_ue=$'\E[0m' \
    LESS_TERMCAP_us=$'\E[04;38;5;146m' \
    man "$@"
}
